body {
    font-family: Arial, Verdana, sans-serif;
    /* background-color: #a0a00a; 
    background-image: url("image/background.png"); 
    background-position: left top; 
    background-size: auto; 
    background-repeat: repeat; 
    background-attachment: scroll; */
}
@keyframes fade-in {
    0% { opacity: 0 }
    40% { opacity: 0 }
    100% { opacity: 1 }
}
@-webkit-keyframes fade-in {
    0% { opacity: 0 }
    40% { opacity: 0 }
    100% { opacity: 1 }
}
@-moz-keyframes fade-in {
    0% { opacity: 0 }
    40% { opacity: 0 }
    100% { opacity: 1 }
}
@-o-keyframes fade-in {
    0% { opacity: 0 }
    40% { opacity: 0 }
    100% { opacity: 1 }
}
#main {
    font-style: oblique;
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation: fade-in 1s;
    text-align: center;
    margin: 100px auto auto auto;
    max-width: 500px;
    padding: 0 20px
}
div>a {
    color: #000000;
}
a[class="alarm"] {
    color: violet !important;
    text-decoration: overline;
}
.alarm {
    color: midnightblue;
}
h1, h2 {
    color: #ee3e80;
    text-shadow: 3px 3px 5px #666666;
}
p {
    color: #665544;
}
p:first-letter {
    font-size: 200%;
}
#avatar {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.avatar {
    width: 230px;
    height: 230px;
    border-radius: 50%;
}